<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>CALSI</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>calculator.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>responseservlet</display-name>
    <servlet-name>responseservlet</servlet-name>
    <servlet-class>calculator.responseservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>responseservlet</servlet-name>
    <url-pattern>/responseservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addservlet</display-name>
    <servlet-name>addservlet</servlet-name>
    <servlet-class>calculator.addservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addservlet</servlet-name>
    <url-pattern>/addservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>subservlet</display-name>
    <servlet-name>subservlet</servlet-name>
    <servlet-class>calculator.subservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subservlet</servlet-name>
    <url-pattern>/subservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validationservlet</display-name>
    <servlet-name>validationservlet</servlet-name>
    <servlet-class>calculator.validationservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validationservlet</servlet-name>
    <url-pattern>/validationservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mulservlet</display-name>
    <servlet-name>mulservlet</servlet-name>
    <servlet-class>calculator.mulservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mulservlet</servlet-name>
    <url-pattern>/mulservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exp6servlet</display-name>
    <servlet-name>exp6servlet</servlet-name>
    <servlet-class>jsp.exp6servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exp6servlet</servlet-name>
    <url-pattern>/exp6servlet</url-pattern>
  </servlet-mapping>
</web-app>